@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #17b7e6, #9b59b6);
}

.contianer{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.contianer .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.contianer .title::before{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #17b7e6, #9b59b6);
}

.contianer form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 2px 0;
}

form .user-details .input-box{
    width: calc(100% /2 - 20px);
}

.user-details .input-box .detail{
    font-weight: 500;
    margin-bottom: 5px;
    
}
.user-details .input-box input{
    display: block;
    height: 45px; 
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 100%;
    margin: 14px 0;
    justify-content: space-between;
}

form .gender-details .category label{
    display: flex;
    align-items: center;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
    border: 5px solid transparent;
}

#dot-1:checked ~ .category label .one,  
#dot-3:checked ~ .category label .two,
#dot-2:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #3b3b3b;
}

/* form input[type="radio"]{
    display:none;
} */

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border-radius: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #17b7e6, #9b59b6);
}

form .button input:hover{
    background: linear-gradient(-135deg, #17b7e6, #9b59b6);
}


